# Introduction to Python Strings

## Basics of Strings

### 1. Creating Strings

Strings in Python can be created using single quotes (`'`) or double quotes (`"`) and for multiple line (`"""`).

In [ ]:
single_quoted_string = 'Hello, World!'
double_quoted_string = "Python is fun!"
multiple_line_String = """Hello, World!
Python is fun!"""

### 2. String Concatenation
Strings can be concatenated using the + operator.

In [ ]:
first_name = 'Parham'
last_name = 'Barzegaran'
full_name = first_name + ' ' + last_name
print(full_name)

### 3. String Indexing and Slicing
Strings are indexed from 0. You can access individual characters using indexing and obtain substrings using slicing.

In [ ]:
my_string = 'Python'
print(my_string[0])       # Output: 'P'
print(my_string[1:4])     # Output: 'yth'
print(my_string[-1])      # Output: 'n'

### 4. String Methods
There are several built-in string methods in Python.

In [ ]:
my_string = '    Python is nice!    '
print(my_string.strip())          # Removes leading and trailing whitespaces
print(my_string.lstrip())         # Removes leading and trailing whitespaces left
print(my_string.rstrip())         # Removes leading and trailing whitespaces right
print(my_string.lower())          # Converts the string to lowercase
print(my_string.upper())          # Converts the string to uppercase
print(my_string.replace('a', 'o'))# Replaces 'a' with 'o'
print(my_string.find('is'))       # Returns the index of the first occurrence of 'is'

find() method in details.

In [ ]:
my_string = '    Python is nice!    '
print(my_string.find('is'))
print(my_string.find('JX')) # Can't find ? -> Value will be -1


print(my_string.find('n')) # index of the first occurrence of 'n'
print(my_string.find('n' , 10)) # index of the first occurrence of 'n' after index **10**

Checking the existence of a substring in a string with `in` syntax

In [ ]:
my_string = '    Python is nice!    '
print('Python' in my_string) # True
print('Java' in my_string) # True

## **Exercises**
### Exercise 1

Create a string that contains your full name and print it.

In [ ]:
#Exercise 1

### Exercise 2

Concatenate two strings and print the result.

In [ ]:
#Exercise 2

### Exercise 3

Given the string `sentence = "Python programming is fun!"`, use slicing to obtain the substring `"programming"`.

In [ ]:
#Exercise 3

### Exercise 4

Remove any leading or trailing whitespaces from the following string: <br>`whitespace_string = "    Too many spaces!    "`.

In [ ]:
#Exercise 4

### Exercise 5

Replace all occurrences of the letter 'o' with 'x' in the string: <br>
`original_string = "Hello, World!"`.

In [ ]:
#Exercise 5

### Exercise 6

Find the index of the first occurrence of the word 'is' in the string: <br>
`find_string = "This is a test string."`.

In [ ]:
#Exercise 6

### Exercise 7

Use the `find()` method to find the index of the first occurrence of the stop codon "TAG" in the DNA sequence:<br>
`dna_sequence = "ATGCTAGCTGATCGATCGTAGCTAGCTA"`

In [ ]:
#Exercise 7

### Exercise 8

Use the `find()` method to find the index of the second occurrence of the word "ERROR" in the log_data.<br>
`log_data = "[INFO] Application started at 2023-01-15 09:30:00 [ERROR] Connection failed at 2023-01-15 10:15:22"`

In [ ]:
#Exercise 8

### Exercise 9

Try to fix the input information this student and print it as the template:<br>
`firstName = "    parham"`<br>
`lastName = "   Barzegaran _ hosseini    "`<br>
`age = 27`<br>
`score = 14.5`<br>
`registered_course = """PyTHon `<br>
`teacher = "Your Name"`
`Programming"""`<br>
`student_number = 9311213808`<br><br>

Expected output:<br><br>
`-----------------------------------` <br>
`Personal Information` <br>
`-----------------------------------` <br>
`Name : Parham` <br>
`Family Name : Barzegaran Hosseini` <br>
`Age : 27 , Std.No = 9311213808` <br>
`-----------------------------------` <br>
`Registrarion` <br>
`-----------------------------------` <br>
`Course : Python Programming`<br>
`Teacher : [Your Name]` <br>

In [9]:
#Exercise 9

firstName = "    parham"
lastName = "   Barzegaran _ hosseini    "
age = 27
score = 14.5
registered_course = """PyTHon
Programming"""
teacher = "Your Name"
student_number = 9311213808